body, html {
    background: #293877;
    height: 100%;
}

#title {
    font-family: 'Dancing Script', cursive;
    color: #fff;
}

.center-image {
    background-image: url("assets/images/ind.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.form-control{
    background-color:rgba(0,0,0,0) !important;
    border:none !important;

}